body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: rgb(235,235,235);
    width: 80%;
    height: 24px;
    border-radius: 15px;
    margin: 10px;
}
      
.bar {
    color: rgb(120,120,120);
    font-weight: bolder;
    padding: 2px;
    text-align: right;
    font-size: 14px;
    border-radius: 15px;
    width: 50%;
    height: 20px;
}

.first-bar {
    background-image:
	   repeating-linear-gradient(-45deg, rgb(193,229,133, 0.8), rgb(148, 185, 88, 0.8) 0.15px);

}

.second-bar {
    background-image:
	   repeating-linear-gradient(-45deg, rgb(255,163,153, 0.8), rgb(243, 121, 107, 0.8) 0.15px);
}

.third-bar {
    background-color: white;
}

.fourth-bar {
    background-image:
	   repeating-linear-gradient(-45deg, rgb(118,192,232, 0.8), rgb(54, 163, 223, 0.8) 0.15px);
}

.fifth-bar {
    background-image:
	   repeating-linear-gradient(-45deg, rgb(254,209,99, 0.8), rgb(238, 188, 62, 0.8) 0.15px);
}

button {
    padding: 5px;
    border: 0px;
}

      
